.activity-item {
    font-family: 'Montserrat';   
}

.activity-item__desc{
    color: #808080;
    font-size: 11px;
}

.mat-list-base .mat-list-item .mat-line:nth-child(n+2){
	font-size: 11px;
}

:host /deep/ .mat-list-item-content {
  padding: 0!important;
}


