<mat-list *ngIf="activities.length">
	<div *ngFor="let activity of activities">
		<mat-list-item class="activity-item" [routerLink]="['/activities', activity.id]">
		  

	      <h4 matLine>{{activity.name}}</h4>
	      <p matLine class="activity-item-desc">Start date: {{ getFormattedDateForUrl(activity.expected_start_date) }}</p>
	      <p matLine class="activity-item-desc">End date: {{ getFormattedDateForUrl(activity.expected_end_date) }}</p>
	      
	      <button mat-icon-button [routerLink]="['/activities', activity.id]">
	        <mat-icon matListIcon>edit</mat-icon>
	      </button>
	      <button mat-icon-button [routerLink]="['/activities', activity.id]">
	        <mat-icon matListIcon>delete</mat-icon>
	      </button>
		</mat-list-item>
		<mat-divider></mat-divider>
	</div>
</mat-list>

<div style="display:flex;justify-content: center;flex-direction: column;"  *ngIf="!activities.length">
	<mat-icon matListIcon  style="height: 80px; width: 80px;font-size: 80px;color:#808080;margin: 0 auto;">sentiment_very_dissatisfied</mat-icon>
	<h4 style="color:#808080;text-align: center">Sorry no activities found under this program</h4>
</div>
