.activities-panel {
    max-width: 600px;
    margin: 250px auto;
    padding: 30px 20px 20px 20px;
}

.activities-panel__top-div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.activities-panel__top-div__title-div{
	flex: 3;
}

.activities-panel__top-div__title-div__title{
	padding-left: 20px;
}

.activities-panel__top-div__button-div{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end
}