.top-content{
	text-align: center; 
	padding-bottom: 20px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	background: #fff;
}

.top-content__title {
    text-align: center;
    padding: 20px;
}



    